#serv-intro {
    background-image: url('/images/junk-pile.jpg');
    background-size: cover;
    background-position: center;
    height: 30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vmin;
    padding: 3vmin;
}

#list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#list-container ul {
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    font-size: 3vmin;
}

@media (max-width: 767px) {
    #serv-intro h1{
        font-size: 15vmin;
    }
    #services-list h2 {
        font-size: 4.5vmin;
    }
    #list-container li {
        font-size: 4vmin;
    }
}