#contact-intro {
    background-image: url('/images/contact-phone.jpg');
    background-size: cover;
    background-position: center;
    height: 45vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vmin;
    padding: 3vmin;
}

#contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 767px) {
    #contact-intro h1{
        font-size: 18vmin;
    }
}