#home-intro {
    background-image: url('/images/ca-hills.jpg');
    background-size: cover;
    background-position: center;
    height: 50vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vmin;
    padding: 3vmin;
}

#about h2 {
    font-size: 4vmin;
    color: #24231b;
}