#home-intro {
    background-image: url('/images/ca-hills.jpg');
    background-size: cover;
    background-position: center;
    height: 45vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vmin;
    padding: 3vmin;
}

#image-container {
    background-color: #DECCA6;
    padding: 2vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#image-container img {
    width: 36vmin;
}

#home-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#services-btn {
    background-color: #8a0606;
    color: #fcfbf4;
    border: none;
    padding: 2vmin;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
}

#services-btn:hover {
    background-color: #f6bc3f;
    color: #000000;
}