#card-container {
    display: flex;
    justify-content: space-evenly;
}

#card-container p {
    font-size: 2vmin;
}

#card-container li {
    font-size: 2.5vmin;
    padding: 1vmin;
}

.card-front {
    width: 25vmin;
    height: 42vmin;
    margin: 50px auto;
    padding: 5vmin;
    background: rgb(90, 89, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    border: solid 2px rgb(37, 37, 30);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
}

.card-back {
    width: 25vmin;
    height: 42vmin;
    margin: 50px auto;
    padding: 5vmin;
    background: #8a0606;
    color: #fcfbf4;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    border: solid 2px rgb(37, 37, 30);
}

.card-front img {
    width: 20vmin;
    border-radius: 10px;
}

.card-front h3 {
    padding: 0;
    margin: 2vmin 0 0;
}

@media (max-width: 767px) {
    #card-container {
        display: flex;
        flex-direction: column;
    }
    #card-container h3 {
        font-size: 6vmin;
    }
    #card-container p {
        font-size: 4vmin;
    }
    #card-container li {
        font-size: 5vmin;
    }
    .card-front, .card-back {
        width: 80%;
        height: 80vmin;
    }
    .card-front img {
        width: 35vmin;
    }
}