#card-container {
    display: flex;
    justify-content: space-evenly;
}

#card-container p {
    font-size: 2vmin;
}

#card-container li {
    font-size: 2.5vmin;
    padding: 1vmin;
}

.card-front {
    width: 25vmin;
    height: 42vmin;
    margin: 50px auto;
    padding: 5vmin;
    background: rgb(90, 89, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    border: solid 2px rgb(37, 37, 30);
    border-radius: 10px;
}

.card-back {
    width: 25vmin;
    height: 42vmin;
    margin: 50px auto;
    padding: 5vmin;
    background: #8a0606;
    color: #fcfbf4;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid 2px rgb(37, 37, 30);
}

.card-front img {
    width: 20vmin;
}

.card-front h3 {
    padding: 0;
    margin: 2vmin 0 0;
}