#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 2.5vmin;
    margin-top: auto;
    margin-bottom: 5vmin;
}

#footer p {
    font-size: 2vmin;
}

#footer img {
    height: 6vmin;
}

#footer-btn {
    background-color: #f6bc3f;
    border: none;
    padding: 2vmin;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 5vmin;
}

#footer-btn:hover {
    background-color: #8a0606;
    color: #fcfbf4;
}

