body {
    height: 100vh;
    background-color: #fcfbf4;
    font-family: 'Lato', sans-serif;
}

.main-container {
    margin: 5vmin;
    padding: 5vmin;
    background-color: #B8B68F;
}

.section-text {
    font-size: 7vmin;
    padding: 3vmin;
    color: #8a0606;
}