body {
    height: 100vh;
    background-color: #fcfbf4;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 4vmin;
    color: #24231b;
}

.main-container {
    margin: 5vmin;
    padding: 5vmin;
    background-color: #B8B68F;
    display: flex;
    flex-direction: column;
    gap: 5vmin;
}

.section-text {
    font-size: 7vmin;
    padding: 3vmin;
    color: #8a0606;
}